@import './base.css';

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #ffd005;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #fbf0bf;
  border-color: #6200ab;
  border-width: 1px;
  border: inherit;
}

.login-form,
.register-form,
.email-config {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.qr-section {
  margin-top: 20px;
  text-align: center;
}

.qr-section img {
  max-width: 200px;
  margin-bottom: 15px;
}

.validation-section {
  margin-top: 15px;
}

.dashboard {
  padding: 20px;
}

.actions {
  margin: 20px 0;
}

.action-button {
  margin-right: 10px;
}

.message-card {
  border: 1px solid #6200ab;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #9276a8;
  color: white;
}

.filter-card {
  border: 1px solid #ffd005;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #feec9b;
}

.message-card p {
  margin: 5px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container > div,
.container > button {
  flex: 1 1 300px;
}

.is-spam {
  border: 2px solid red;
  background-color: lightpink;
  color: black;
}

.table {
  display: flex;
  justify-content: space-between; /* Optionnel : espace entre les colonnes */
}
.column {
  flex: 1; /* Optionnel : chaque colonne prend une part égale de l'espace disponible */
  padding: 10px;
  vertical-align: middle;
}

.big-text {
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
}
